<h1>Lista wpisów:</h1>

<table>
  <thead>
    <tr>
      <th>Treść</th>
      <th>Użytkownik</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @microposts.each do |micropost| %>
      <tr>
        <td><%= micropost.content %></td>
        <td><%= micropost.user_id %></td>
        <td><%= link_to 'Pokaż', micropost %></td>
        <td><%= link_to 'Edytuj', edit_micropost_path(micropost) %></td>
        <td><%= link_to 'Usuń', micropost, method: :delete, data: { confirm: 'Na pewno?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowy post', new_micropost_path %>
